<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bienvenue!</title>
</head>
<body>
<h1>Bienvenue!</h1>
<p>Clickez <a th:href="@{/protected}">ici</a> pour vous connecter.</p>
</body>
</html>