<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commandes</title>
</head>
<body>
<h1>Commandes :</h1>
<div th:each="commande: ${commandes}">
    <div><label th:text="'Numéro de commande : ' + ${commande.getId()}"/></div>
    <div><label th:text="'Statut : ' + ${commande.getStatut()}"/></div>
    <div><label th:text="'Prix : €' + ${commande.getMontant()}"/></div><hr>
</div>
<form th:action="@{/createorder}" method="post">
    <input type="submit" value="Nouvelle commande"/>
</form>
</body>
</html>