<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magasin</title>
</head>
<body>
<h1>Ali La Pointe Express</h1>
<h2>Caddie :</h2>
<form th:action="@{/removeitem}" method="get" th:each="cartitem: ${cartitems}">
    <div><input name="id" type="hidden" th:value="${cartitem.id.getArticle().getId()}" /></div>
    <div><label th:text="${cartitem.id.getArticle().getNom()}" /></div>
    <div><label th:text="'Catégorie : ' + ${cartitem.id.getArticle().getCategorie()}" /></div>
    <div><label th:text="'Prix : €' + ${cartitem.id.getArticle().getPrix()}" /></div>
    <div><label th:text="'Quantité : ' + ${cartitem.getQuantite()}" /></div>
    <div><input type="submit" value="Enlèver du caddie" /></div><hr>
</form>
<form th:action="@{/docheckout}" method="get">
    <div><label th:text="'Total : €' + ${total}" /></div>
    <div><input type="radio" id="express" name="livraison" value="express" checked>
    <label for="express">Express : +€10</label></div>
    <div><input type="radio" id="normal" name="livraison" value="normal">
    <label for="normal">Normal : +€5</label></div>
    <div><input type="submit" value="Payer" /></div>
</form>
<h2>Catalogue :</h2>
<form th:action="@{/additem}" method="get" th:each="article: ${articles}" th:if="${article.getQuantite()} > 0">
    <div><input name="id" type="hidden" th:value="${article.getId()}" /></div>
    <div><label th:text="${article.getNom()}" /></div>
    <div><label th:text="'Catégorie : ' + ${article.getCategorie()}" /></div>
    <div><label th:text="'Prix : €' + ${article.getPrix()}" /></div>
    <div><label>Quantité : </label>
    <input name="quantite" type="number" min="1" value="1" th:max="${article.getQuantite()}" /></div>
    <div><input type="submit" value="Ajouter au caddie" /></div><hr>
</form>
</body>
</html>